
:root {
  --color-primary-500: #FFEB3B;
  --color-primary-600: #FDD835;
  --color-primary-900: #F57F17;
  --color-secondary-500: #009688;
  --color-secondary-900: #004D40;
  --font-primary: "Montserrat", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  position: absolute;
  top: 2px;
  left: 3px;
  padding: 10px 10px;
  background: var(--color-primary-500);
  color: var(--color-secondary-900);
  font-size: 18px;
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 250ms, box-shadow 250ms;
}

button:hover {
    background: var(--color-primary-600);
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
}

button:active{
  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px; 
}

canvas {
  position: absolute;
  top: 50px;
}