:root {
  --color-primary-500: #ffeb3b;
  --color-primary-600: #fdd835;
  --color-primary-900: #f57f17;
  --color-secondary-500: #009688;
  --color-secondary-900: #004d40;
  --font-primary: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(230, 255, 209);
}

#h1container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(121, 254, 157);
}

main {
  display: flex;
  justify-content: center;
}

canvas {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0.5rem outset black;
  outline: 0.5rem solid whitesmoke;
}

button {
  position: relative;
  padding: 10px 10px;
  background: var(--color-primary-500);
  color: var(--color-secondary-900);
  font-size: 18px;
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 250ms, box-shadow 250ms;
}

button:hover {
  background: var(--color-primary-600);
}

button:active {
  top: 5px;
  left: -2px;
}

#main_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  /* align-items: center; */
}

#info_container {
  width: 30vw;
  height: 700px;
  background-color: #2c3e50;
  margin-top: 20px;
  border: 0.5rem outset black;
  outline: 0.5rem solid whitesmoke;
  text-align: center;
}

h4,p{
  color: white;
}
